body {
    background-color: #9db949;
}

.title {
    text-align: center;
    color: #354601;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding: 20px 0;
}

.dexter {
    width: 590px;
    height: 590px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    border: 30px solid #a7c05c;
    padding: 30px;
    position: relative;
}

.dexter__container {
    width: 480px;
    height: 480px;
    background-color: #a7c05c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    margin-top: -240px;
    margin-left: -240px;
}

.dexter__body {
    width: 270px;
    height: 340px;
    margin: 80px auto;
    position: relative;
}

.dexter__hair {
    width: 260px;
    height: 75px;
    border-radius: 0% 25% 0 0/0% 100% 0 0;
    background-color: #ff5e2c;
    position: relative;
    z-index: 5;
}

.dexter__hair:after,
.dexter__hair:before {
    content: "";
    position: absolute;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.dexter__hair:after {
    width: 225px;
    height: 15px;
    z-index: 2;
    background-color: #ff5e2c;
    left: -4px;
    bottom: -5px;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
}

.dexter__hair:before {
    width: 235px;
    background: #A7C05C;
    height: 75px;
    z-index: 1;
    left: 0;
    right: 0;
}

.dexter__hair--curlicue {
    height: 45px;
    border-radius: 50%;
    background-color: #ff5e2c;
    position: relative;
    top: 50px;
    float: left;
}

.dexter__hair--curlicue:first-child {
    margin-left: 0px;
    width: 81.6666666667px;
}

.dexter__hair--curlicue:nth-child(2) {
    width: 86.6666666667px;
}

.dexter__hair--curlicue:nth-child(3) {
    width: 91.6666666667px;
}

.dexter__hair--tressed {
    position: absolute;
    left: 0;
    bottom: 0;
}

.dexter__hair--tressed:after,
.dexter__hair--tressed:before {
    content: "";
    position: absolute;
    width: 8px;
    border-top: 50px solid #FF5E2C;
    border-right: 5px solid transparent;
    z-index: 2;
}

.dexter__hair--tressed:after {
    width: 8px;
    border-left: 0px solid transparent;
    left: -20px;
    top: -25px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.dexter__hair--tressed:before {
    border-left: 5px solid transparent;
    left: -25px;
    top: -45px;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
}

.dexter__face {
    width: 220px;
    height: 170px;
    background-color: #f8d8ce;
    border-radius: 0 0 50% 40%;
    z-index: 3;
    position: relative;
}

.dexter__face--ear {
    width: 32px;
    height: 33px;
    border-radius: 50%;
    background-color: #f8d8ce;
    position: absolute;
    left: -16px;
    top: 50px;
}

.dexter__face--glass {
    width: 255px;
    height: 60px;
    border-top: 10px solid #000000;
    position: relative;
    top: 40px;
    z-index: 2;
}

.dexter__face--glass__eye {
    width: 100px;
    height: 40px;
    border: 10px solid;
    margin-top: -10px;
    border-radius: 0 0 100px 100px;
    position: absolute;
    background-color: #fff;
}

.dexter__face--glass__eye:after {
    content: "";
    display: block;
    width: 55px;
    height: 30px;
    border-radius: 0 0 55px 55px;
    background-color: #000;
    position: relative;
    left: 35px;
    top: -10px;
    animation: wink 2.5s infinite linear;
    animation-delay: 1.3s;
}

.dexter__face--glass__eye:before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    left: 40px;
    z-index: 1;
    top: 10px;
}

.dexter__face--glass__eye.right {
    right: 0;
}

.dexter__face--glass__eye.left {
    left: 20px;
}

.dexter__face--nose {
    width: 0;
    height: 0;
    border-top: 40px solid #f8d8ce;
    border-right: 40px solid transparent;
    position: absolute;
    top: 58px;
    left: 137px;
}

.dexter__face--mouth {
    width: 50px;
    height: 20px;
    background-color: #fff;
    border-radius: 0 0 0 100%;
    position: relative;
    top: 40px;
    left: 100px;
}

.dexter__face:after,
.dexter__face:before {
    content: "";
    position: absolute;
    z-index: 1;
}

.dexter__face:after {
    width: 0;
    height: 0;
    border-bottom: 75px solid #FFFFFF;
    border-right: 120px solid transparent;
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;
}

.dexter__face:before {
    width: 60px;
    height: 200px;
    width: 0px;
    height: 0px;
    left: 0;
    top: 0;
    border-right: 20px solid transparent;
    border-top: 60px solid #e7bcb4;
    border-left: 40px solid #e7bcb4;
    border-bottom: 80px solid #e7bcb4;
}

.dexter__trunk {
    width: 120px;
    height: 115px;
    background-color: #fff;
    border-right: 5px solid #000;
    position: relative;
    top: -75px;
    left: 0;
    z-index: 2;
}

.dexter__trunk:after,
.dexter__trunk:before {
    content: "";
    position: absolute;
    display: block;
    bottom: 10px;
}

.dexter__trunk:after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000;
    right: 5px;
}

.dexter__trunk:before {
    left: 20px;
    width: 60px;
    height: 20px;
    box-sizing: border-box;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
}

.dexter__trunk--left {
    width: 40px;
    height: 115px;
    background-color: #fff;
    position: absolute;
    right: -45px;
}

.dexter__hand {
    background: #fff;
}

.dexter__hand--right {
    width: 45px;
    height: 100px;
    border-bottom: 20px solid #f8d8ce;
    border-radius: 20px;
    position: relative;
    left: 20px;
    top: 30px;
}

.dexter__hand--left {
    width: 75px;
    height: 0;
    position: absolute;
    left: 142px;
    top: 50px;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    border-top: 35px solid white;
    border-left: none;
    background: transparent;
    border-right: 10px solid transparent;
    z-index: 2;
}

.dexter__hand--left:after {
    content: "";
    width: 30px;
    height: 45px;
    position: absolute;
    z-index: 3;
    background: #F8D8CE;
    border-radius: 50%;
    right: -55px;
    top: -35px;
}

.dexter .jam-jar {
    position: absolute;
    left: 210px;
    top: 40px;
    z-index: 2;
    border-bottom: 70px solid #ff5e2c;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 25px;
    transform-origin: -100% 65%;
    -webkit-transform-origin: -100% 65%;
    -ms-transform-origin: -100% 65%;
}

.dexter .jam-jar:after {
    content: "";
    display: block;
    width: 35px;
    height: 10px;
    background-color: #ff5e2c;
    border-radius: 35px;
    position: relative;
    left: -5px;
    z-index: 2;
}

.dexter .jam-jar .circle {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    animation: bubble 1.5s infinite;
}

.dexter .jam-jar .circle.lg {
    width: 12px;
    height: 12px;
    left: 15px;
    top: 15px;
    -webkit-animation-delay: 1.2s;
}

.dexter .jam-jar .circle.md {
    width: 10px;
    height: 10px;
    left: 11px;
    top: 0;
    -webkit-animation-delay: 1.8s;
}

.dexter .jam-jar .circle.sm {
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
    -webkit-animation-delay: 2.3s;
}

.dexter__legs {
    width: 135px;
    height: 65px;
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    left: 35px;
    z-index: 1;
}

.dexter__legs:after,
.dexter__legs:before {
    content: "";
    display: block;
}

.dexter__legs:after {
    width: 80%;
    height: 30px;
    border-radius: 0 50% 0 0/0 100% 0 0;
    background-color: #000;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dexter__legs:before {
    width: 0;
    height: 0;
    z-index: 2;
    border-bottom: 65px solid #000;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 65px;
    position: relative;
    z-index: 2;
}

.shake {
    -webkit-animation-direction: alternate;
    -webkit-animation: shake 0.1s infinite;
    -webkit-animation-iteration-count: 10;
    animation-iteration-count: 10;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
}

@keyframes wink {
    0% {
        height: 30px;
    }
    3% {
        top: 5px;
        height: 0;
    }
    10% {
        top: -10px;
        height: 30px;
    }
    100% {
        top: -10px;
        height: 30px;
    }
}

@keyframes bubble {
    0% {
        top: -5px;
        left: 6px;
    }
    100% {
        top: -30px;
        opacity: 0;
    }
}